<%- include('../partials/header.ejs') %>
<main>
    <%- include('../partials/error.ejs') %>
        <form action="/folders/edit/<%= folderToEdit.id %>" method="post">
            <div>
                <label for="folder_name">Edit Folder</label>
                <input type="text" name="folder_name" id="folder_name" value="<%= folderToEdit.name %>" required>
            </div>
            <button type="submit">Edit</button>
        </form>
</main>
<%- include('../partials/footer.ejs') %>
