<%- include('../partials/header.ejs') %>
<main>
    <h1>Welcome, <%= currentUser.username %></h1>
    <a href="/folders">Home</a>
    <% if (locals.selectedFile) { %>
        <section>
            <% if(selectedFile.parentId) { %>
                <a href="/folders/<%= selectedFile.parentId %>">Back</a>
            <% } %>
            <a href=""></a>
            <h2><%= selectedFile.name %></h2>
            <a href="/files/edit/<%= selectedFile.id %>">Rename</a>
            <form action="/files/delete/<%= selectedFile.id %>" method="post">
                <button type="submit" onclick="return confirm(`Are you sure you want to delete file <%= selectedFile.name %>?`)">Delete</button>
            </form>

            <%# display file size in bytes and turn it into nicely formatted size in bytes/KB/MB %>
            <%# https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/file#examples %>
            <% if (selectedFile.size < 1e3) { %>
                <p><%= selectedFile.size %> Bytes</p>
            <% } else if (selectedFile.size >= 1e3 && selectedFile.size < 1e6) { %>
                <p><%= (selectedFile.size / 1e3).toFixed(1) %> KB</p>
            <% } else { %>
                <p><%= (selectedFile.size / 1e6).toFixed(1) %> MB</p>
            <% } %>

            <p><%= selectedFile.createdAt.toLocaleString() %></p>
            <a href="/files/<%= selectedFile.id %>/download">Download</a>
        </section>
    <% } %>
</main>
<%- include('../partials/footer.ejs') %>