<%- include('../partials/header.ejs') %>
<main>
    <% if (locals.currentUser) { %>
        <section class="home">
            <article class="_header">
                <h2>Welcome, <%= currentUser.username %></h2>
                <div class="links">
                    <a href="/folders/new" class="link_btn">
                        <%- include('../partials/svg/createSvg.ejs') %>
                        Create
                    </a>
                    <a href="/files/new" class="link_btn">
                        <%- include('../partials/svg/uploadSvg.ejs') %>
                        Upload
                    </a>
                </div>
            </article>
            <% if (locals.allFolders) { %>
                <section class="_folders">
                    <% allFolders.forEach(folder => { %>
                        <article>
                            <a href="/folders/<%= folder.id %>">
                                <div class="header">
                                    <%- include('../partials/svg/folderSvg.ejs') %>
                                    <h3><%= folder.name %></h3>
                                </div>
                            </a>
                            <div class="actions">
                                <a href="/folders/edit/<%= folder.id %>">
                                    <%- include('../partials/svg/editSvg.ejs') %>
                                </a>
                                <form action="/folders/delete/<%= folder.id %>" method="post">
                                    <button type="submit" onclick="return confirm(`Are you sure you want to delete folder <%= folder.name %>\n(Warning: If <%= folder.name %> has any child folders or files, they will all be deleted as well!)`)">
                                        <%- include('../partials/svg/deleteSvg.ejs') %>
                                    </button>
                                </form>
                            </div>
                        </article>
                    <% }) %>
                </section>
            <% } %>
            <% if(locals.allFiles) { %>
                <section class="_files">
                    <% allFiles.forEach(file => { %>
                        <article>
                            <button popovertarget="fileDetailsAside-<%= file.id %>" popovertargetaction="show" class="popoverBtn">
                                <div class="header">
                                    <%- include('../partials/svg/imageIconSvg.ejs') %>
                                    <h3><%= file.name %></h3>
                                </div>
                            </button>
                            <div class="actions">
                                <a href="/files/edit/<%= file.id %>">
                                    <%- include('../partials/svg/editSvg.ejs') %>
                                </a>
                                <form action="/files/delete/<%= file.id %>" method="post">
                                    <button type="submit" onclick="return confirm(`Are you sure you want to delete file <%= file.name %>?`)">
                                        <%- include('../partials/svg/deleteSvg.ejs') %>
                                    </button>
                                </form>
                            </div>
                            <div class="fileDetailsAside" popover id="fileDetailsAside-<%= file.id %>">
                                <div class="asideheader">
                                    <div>
                                        <h3>File Information</h3>
                                        <button popovertarget="fileDetailsAside-<%= file.id %>" popovertargetaction="hide">
                                            <%- include('../partials/svg/closeSvg.ejs') %>
                                        </button>
                                    </div>
                                    <div class="fileDetails">
                                        <p>
                                            <strong>Name: </strong>
                                            <%= file.name %>
                                        </p>
                                        <p>
                                            <strong>Type: </strong>
                                            <%= file.mimetype %>
                                        </p>
                                        <%# display file size in bytes and turn it into nicely formatted size in bytes/KB/MB %>
                                        <%# https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/file#examples %>
                                        <% if (file.size < 1e3) { %>
                                            <p><strong>Size: </strong> <%= file.size %> Bytes</p>
                                        <% } else if (file.size >= 1e3 && file.size < 1e6) { %>
                                            <p><strong>Size: </strong> <%= (file.size / 1e3).toFixed(1) %> KB</p>
                                        <% } else { %>
                                            <p><strong>Size: </strong> <%= (file.size / 1e6).toFixed(1) %> MB</p>
                                        <% } %>
                                        <p>
                                            <strong>Created At: </strong>
                                            <%= file.createdAt.toLocaleString() %>
                                        </p>
                                    </div>
                                </div>
                                <div class="fileActions">
                                    <a href="/files/edit/<%= file.id %>" class="link_btn">Rename</a>

                                    <form action="/files/delete/<%= file.id %>" method="post" class="link_btn">
                                        <button type="submit" onclick="return confirm(`Are you sure you want to delete file <%= file.name %>?`)">
                                            Delete
                                        </button>
                                    </form>

                                    <a href="/files/<%= file.id %>/download" class="link_btn downloadBtn">Download</a>
                                </div>
                            </div>
                        </article>
                    <% }) %>
                </section>
            <% } %>
        </section>
    <% } %>
</main>
<%- include('../partials/footer.ejs') %>